<div layout="vertical" layout-fill>
    <md-content layout-fill>
        <header>
            <app-navbar></app-navbar>
        </header>

        <div ng-if="movie.loading">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>

        <div ng-if="!movie.loading">
            <div layout="row" class="md-padding">
                <md-card flex="90">
                    <md-input-container class="md-padding">
                        <label>Search Movie by Name</label>
                        <input ng-model="movie.searchText.movie_title">
                    </md-input-container>
                </md-card>
                <md-card flex layout-align="center center" class="movie-filter">
                    <i class="fa fa-filter fa-2x"></i>
                </md-card>
            </div>

            <div layout="row" class="md-padding">

            </div>

            <div layout="row" class="md-padding" layout-padding layout-margin>
                <div layout="column" flex="50">
                    <movie-card movie="movie" ng-repeat="movie in movie.moviesList | filter:movie.searchText | limitTo: 10: movie.movieStartIndex" ng-if="$even"></movie-card>
                </div>
                <div layout="column" flex="50">
                    <movie-card movie="movie" ng-repeat="movie in movie.moviesList | filter:movie.searchText | limitTo: 10: movie.movieStartIndex" ng-if="$odd"></movie-card>
                </div>
            </div>

            <div layout="row" layout-align="center center" ng-hide="movie.searchText.movie_title">
                <ul uib-pagination boundary-links="true" total-items="movie.totalMovies" ng-model="movie.currentPage"
                    force-ellipses="true" max-size="5" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                    ng-change="movie.pageChange(page)" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
        </div>
    </md-content>
</div>